{% extends "base.html" %}
{% block style %}
body {
    font-family: 'Hahmlet', serif;
    margin: 10px;
    margin-left: 20px;
}


{% endblock style %}

{% block content %}
<h1 class='my-4'>맛집 상세 정보</h1>
<p>식당 번호: {{ item.pk }} </p>
<p>식당 이름: {{ item.name }} </p>
<p>식당 설명: {{ item.description }} </p>
<p>식당 위치: {{ item.address }} </p>
<p>전화 번호: {{ item.phone_number }} </p>
<hr>
<a href="{% url 'restaurants:edit' item.pk %}">[UPDATE]</a>
<form action="{% url 'restaurants:delete' item.pk %}">
    <input type="submit" value="DELETE" class='btn btn-danger my-2'>
</form>
<hr>
<a href="{%  url 'restaurants:index' %}">[BACK]</a>
{% endblock content %}
